<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejercicio 1</title>

</head>

<body>
<div ng-app="" ng-controller="menuController">
<p>El primero es</p>
  <ul>
    <li ng-repeat="f in menu.primero track by $index">
      {{ f }}
    </li>
  </ul>
  <p>el segundo es</p>
<ul>
    <li ng-repeat="f in menu.segundo track by $index">
      {{ f }}
    </li>
  </ul>
<p>el postre es</p>
<ul>
    <li ng-repeat="f in menu.postre track by $index">
      {{ f }}
    </li>
  </ul>
  <input type="text" ng-model="cambiarPlato" ng-keypress="keyPressOnForm($event)" />
  <button ng-click="updatePlato('primero')"> Primero</button>
  <button ng-click="updatePlato('segundo')"> Segundo</button>
  <button ng-click="updatePlato('postre')"> Postre</button>
</div>

<script>
  function menuController($scope) {
    $scope.menu = {
      primero:['sopa','paella','calamares'] ,
      segundo: ['carne','pescado','tortilla'],
      postre:['fruta','yogur']
    };

    $scope.updatePlato=function updatePlato(sitio){
      if (sitio=='primero'){
        $scope.menu.primero.push($scope.cambiarPlato);
      }else if(sitio=='segundo'){
        $scope.menu.segundo.push($scope.cambiarPlato);
      }else{
        $scope.menu.postre.push($scope.cambiarPlato);
      }
    }

  }
</script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
</body>

</html>
